# Python Environments
__pycache__/
.venv/
.mypy_cache/
.pytest_cache/

# IDEs and Editors
.idea/
.vscode/

# Poetry specific
# If you configure Poetry to use in-project virtualenvs:
.venv

# Dependency lock file (KEEP THIS, but list in case you want to ignore it later)
# poetry.lock

# Data and Secrets
.env
policy_index/